.side-panel {
    width: 100px; /* Ширина боковой панели */
    height: 100%; /* Высота боковой панели, чтобы занимала всю высоту экрана */
    background-color: #f0f0f0; /* Цвет фона */
    position: fixed; /* Фиксированное позиционирование, чтобы оставаться видимой при прокрутке */
    left: 0; /* Положение слева */
    top: 0; /* Положение сверху */
    display: flex; /* Использование flexbox для расположения иконок в столбец */
    flex-direction: column; /* Отображение иконок в столбец */
    align-items: center; /* Выравнивание иконок по центру по горизонтали */
    justify-content: center; /* Выравнивание иконок по центру по вертикали */
    
  }
  
  .panel-icon {
    margin-top: 25%; /* Отступ между иконками */
    cursor: pointer; /* Изменение курсора при наведении */
    width:10vh;
  }
  