.sidebar-container {
    position: relative;
    height: 100vh;
  }
  
  .sidebar-toggle {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 9999;
    cursor: pointer;
  }
  

  .iXnTOl.toggled{
    min-width: 1
  }



  .toggle-icon {
    font-size: 30px;
  }
  
  .sidebar-toggle.collapsed .toggle-icon {
    color: #000; /* измените цвет на необходимый */
  }
  .white-icon {
    color: #ffffff; /* белый цвет */
  }
 @media (min-width: 1040px) {
  .custom-sidebar {
    width: 180px;
  }
  
  .sidebar-toggle {
    display: none;
  }
}

@media (max-width: 1040px) {
  .sidebar-container {
    position: absolute;
    width: 100%; /* Используем ширину по умолчанию для боковой панели на мобильных устройствах */
  }
}
@media (max-width: 730px) {
  .iXnTOl.toggled{
    min-width: 200px !important;
  }
  .item-content {
    display: block !important; /* Убедитесь, что элемент отображается как блочный */
    color: white !important; /* Цвет текста */
  }
 
}
