
.row-1 {
    height: 140px;
    background-color: #FFFFFF;
}

.search-container {
    position: relative;
    display: flex;
    left: 2%;
    align-items: center;
}


.search-icon{
    width: 45px;
	height: 55px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.inputSearch{
    width: 460px;
    height: 67px;
    padding-left: 100px; /* Учитываем ширину иконки и добавляем отступ слева */
    background: #EBEBEB;
    color: #AAAAAA;
    border-color: #FFFFFF; /* Белая граница */
    border-width: 1px; /* Ширина границы */
    border-style: solid; /* Тип границы */
    border-radius: 34px; /* Скругление углов */
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 23px;
    line-height: 1.3;
    text-align: left;
  }
  .inputSearch:focus {
    outline: none; /* Убираем обводку при фокусировке */
  }
  

.btnCustom {
    width: 242px;
    height: 67px;
    margin-top: 3%;
    margin-left: 4%;
    padding: 19px 8px 4px 8px;
    background: #0464B4;
    color: #FFFFFF;
    border-color: #0464B4;
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 18px;
}
.btnCustom:hover{
    color: #c4bebe;
}
.visiable-dropdown{
    display: none;
}
.active-button {
    color: gray; /* Изменение цвета текста на серый для активной ссылки */
}

.visiable-dropdown .dropdown-toggle {
    position: absolute;
        min-width: 103px;
        height: 49px;
        margin-top: 10px;
        background: #0464B4;
        color: #FFFFFF;
        border-color: #0464B4;
        border-width: 1px;
        border-style: solid;
        border-radius: 21px 21px 21px 21px;
        font-family: "Source Sans 3";
        font-weight: 400;
        font-size: 18px;
        text-align: left;
}
.nav-button{
    text-decoration: none; /* Убираем подчеркивание */
    text-align: center;
    align-items: center;
}
.visiable-dropdown .dropdown-toggle::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FFFFFF;
    position: absolute;
    right: 10px;
    top: calc(50% - 3px); /* Располагаем стрелку по вертикали по центру */
}


.visiable-dropdown .dropdown-menu {
    background-color: #0464B4;
}

.visiable-dropdown .dropdown-menu .dropdown-item {
    color: #FFFFFF;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 18px;
}

.visiable-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #0056b3;
}

.table-main {
	width: 1229px;
	height: 416px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 0px 15px rgb(0, 0, 0);
	background: #FFFAFA;
	border-color: #FFFAFA;
	border-width: 1px;
	border-style: solid;
}
.row-2{

}
.inst-visiable{
}

@media screen and (min-width: 1200px) {
    .row-1{
        width: 100%;
    }

    .inputSearch{
        width: 80%;
    }
    .btnCustom{
        margin-top: 35px;
    }
    
}

@media screen and (min-width: 992px) {

    .inputSearch{
        width: 80%;
    }
    .btnCustom{
        width: 40%;
        margin-top: 35px;
    }
}
@media screen and (min-width: 768px) {
    .row-1{
        width: 100%;
    }
    .inputSearch{
        width: 350px
    }
    .btnCustom{
        margin-top: 35px;
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
   .inputSearch{
        width: 159px;
        height: 50px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
        padding-left: 10%;
   }
   .search-icon{
    display: none;
   }

   .row-1{
	height: 71px;
   }
   .visiable-dropdown{
    display: block;
   }
    .btnCustom{
        display: none;
    }
    .row-2{
        height: 100vh;
    }
}
@media screen and (min-width: 480px) {
    .row-1{
        width: 100%;
    }
   
    .btnCustom{
        margin-top: 35px;
        max-width: 200px;
        min-width: 100px;;
    }
}
@media screen and (min-width: 320px) {
    .row-1{
        width: 100%;
    }
    .btnCustom{
        margin-top: 35px;
        width: 50%;
    }
}
@media screen and (max-width: 1039px) {
    .inputSearch{
        margin-left: 30px;
    }
    .search-icon{
        margin-left: 30px;
    }
    .btnCustom{}
}

@media screen and (max-width: 480px) {
    .inst-visiable{
        display: none;
    }
}
@media screen and (max-width: 1275px) {
    .col-8 {
        width: calc(100% - 340px);
        min-width: 1000px; /* Фиксированная ширина для первой таблицы (100% - ширина второй таблицы) */
    }
    .col-3 {
        width: 340px; /* Фиксированная ширина для второй таблицы */
    }
}
@media screen and (min-width: 891px) and (max-width: 1150px) {
    .col-8 {
        overflow-x: auto; /* Включаем горизонтальный скролл */
    }
}

@media screen and (min-width: 1276px) {
    .col-8 {
        width: 66.66%; /* При ширине экрана более 1200px первая таблица будет занимать 2/3 доступной ширины */
    }
    .col-3 {
        width: 33.33%; /* Вторая таблица будет занимать 1/3 доступной ширины */
    }
}

  @media screen and (max-width: 1100px) and (orientation: landscape) {
    .inst-visiable {
        display: none;
        max-height: 0px;
      }
    .row-1{
        height: 80px !important;
    }
    .inputSearch{
        width: 300px;
        height: 70px;
        margin-top: -5px;
    }
    .search-icon{
        width: 35px;
        margin-top: -2px;
    }
    .inst-visiable {
        display: none;
    }
    .btnCustom{
        width: 200px;
        margin-top: 5px;
    }
  }
  
