/* Ваши стили CSS */
.nav-button {
    text-decoration: none; /* Убираем подчеркивание */
    background-color: #f0f0f0; /* Цвет фона кнопки */
    border: none; /* Убираем границу кнопки */
    color: #333; /* Цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета */
    margin-right: 20px; /* Пространство между кнопками */
}

.nav-button:hover {
    background-color: #20a5e2; /* Изменение цвета фона при наведении */
    color: white;/* Изменение цвета текста при наведении */
}

.active-button {
    color: white; /* Цвет текста активной кнопки */
    border-radius: 5%;
}
.blue-button {
    background-color: rgb(25, 126, 221);
    color: white;
    border-radius: 15%;
  }
