.table-container {
    overflow-y: scroll;
    height: 500px;
}

.doc-table {
    width: 100%;
    border-collapse: collapse;
}

.doc-table th,
.doc-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.doc-table th {
    background-color: #f2f2f2;
  
}
